<?php if($this->getEvents()): ?>
    <?php foreach($this->getEvents() as $event): ?>
    <p>
        <a href="<?php echo $this->getUrl('ticketblaster/event/view', array('event_id' => $event->getId())) ?>">
            <?php echo $event->getName() ?> (<?php echo $event->getVenue() ?>)
        </a>
    </p>
    <?php endforeach; ?>
<?php else: ?>
    <?php echo $this->__('There is no event !')?>
<?php endif; ?>
